

html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #1f2937;
    color: white;
    flex-shrink: 0;
}

.top1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-left: 13em;
    margin-right: 11em;
}

.image1 {
    height: 75px;
    width: 75px;
    padding: 1em;
    margin-left: 2em;
}


ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 2em;
    justify-content: space-between;
}

a {
    color: white;
    padding: 16px;
    text-decoration: none;
}

.site-title {
    font-size: 36px;
    font-weight: bolder;
}

.header2 {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-around;
}

.top2 {
    width: 500px;
    padding: 3em;
}

.image2 {

    height: 250px;
    width: 450px;
    padding: 1em;
}

button {
    border-radius: 10px
}

.site-title {
    margin-bottom: 8px;
}

.site-about {
    margin-bottom: 8px;
    font-size: 18px;
}

.mid1 {
    padding: 3em;
    color: #1f2937;
    text-align: center;
}

.mid-title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.pics-and-text {
    display: flex;
    justify-content: center;
}

.pics-and-text .one {
    width: 500px;
}

.image3 {
    height: 250px;
    flex-direction: row;
    width: 350px;
}

.mid2 {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 5em;
    height: 200px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 1em;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2em;
}

.sign-up {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:28px
    padding: 20px;
    background-color: pink;
    margin: 50px auto;
    color: #1f2937
    
}

.sign-up .button2 {
    border: 2px solid #1f2937
}

.button2 {
    background-color: pink;
    width: 65px;
    height: 50px;
}

p {
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: .5em;
    font-weight: bolder;
    margin-top: 2em;
}